@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.div-contactanos {
    background-color: rgba(244, 247, 250, 0.87);
    
}

.div-contactanos div {
    margin-left: 10px;
}

.div-contactanos h3 {
    margin-left: 10px;
}
.div-resena {
    margin-top: 20px;
}

.div-llamado {
    margin-top: 30px;
}

.div-contactanos div {
    font-family: 'Playfair Display', serif;
}